{% extends 'base.html' %}

<!-- <title>{% block title %}О нас{% endblock %}</title> -->
<!-- {% load static %} -->
{% block content %}
<section class="skrollable u-align-left u-clearfix u-image u-parallax u-shading lazyload u-section-1" id="sec-4324"
  data-image-width="1250" data-image-height="835" data-bg="url(&quot;{% static 'images/march-8.jpg' %}&quot;)">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="fr-view u-clearfix u-rich-text u-text u-text-2">
      <h1 style="text-align: left;">Несколько слов о нас.</h1>
      <p id="isPasted">
        <span class="u-text-white">Мы - Союз Честных (и частных) Мастеров, которые устали кормить фирмы и их жадных
          руководителей.</span>
      </p>
      <p>
        <span class="u-text-white">Мы те люди, которые зачастую сидят без работы, потому что не хотят забирать за просто
          так у людей возможно последние, отложенные на что-либо другое деньги.</span>
      </p>
      <p>
        <span class="u-text-white">Мы считаем, что все должно быть честно, открыто и абсолютно понятно для
          клиента.</span>
      </p>
      <blockquote>
        <p>
          <span class="u-text-white" style="text-decoration: underline;">Мы не хотим ставить ВАМ, ВАШИ же рабочие детали
            за ВАШИ же деньги! И не хотим делать так, чтобы через пару месяцев ВЫ снова обращались за ремонтом!</span>
        </p>
      </blockquote>
    </div>
    <div class="fr-view u-clearfix u-rich-text u-text u-text-2">
      <p>
        <span class="u-text-white">Поэтому мы не позиционируем себя, как фирма, мы - СОЮЗ ЧЕСТНЫХ МАСТЕРОВ.</span>&nbsp;
        <span class="u-text-white">Но, чтобы все было легально и чтобы вы, как заказчики всегда были уверены в нас, и
          знали куда можно обратится при возникновении каких-либо разногласий – для этого мы тоже зарегистрированы в
          системе.</span>
      </p>
      <blockquote>
        <h6>
          <span class="u-text-white">Вам нужна работающая техника в кратчайшие сроки и за адекватные цены? <span
              style="font-weight: 700;">
              <center><span style="text-decoration: underline;"><h4>Всегда к Вашим услугам!</h4></span>&nbsp</center>
            </span>Нашим мастерам нужна честная работа на себя, без отдачи процентов фирмам. Здесь вы оплатите лишь
            реальную работу и реальную стоимость запчастей. И это все, что будет входить в оплату мастера.
          </span>
        </h6>
      </blockquote>
    </div>
    <div class="fr-view u-clearfix u-rich-text u-text u-text-3">
      <h1 style="text-align: left;">Звоните!</h1>
      <p id="isPasted">
        <span class="u-text-white">Если вы мастер - &nbsp;будем рады принять вас в наш Союз. И вы будете четко знать за
          что работали, что заработали и за что вам платит заказчик.</span>
      </p>
      <p>
        <span class="u-text-white">Если вы клиент - вы всегда будете знать, что у вас реально сломалось, сколько стоит
          запчасть и сколько стоит работа мастера.</span>
      </p>
      <blockquote>
        <p>
          <center><span class="u-text-white"><h2>НАШ ДЕВИЗ:<br> ВСЕ ДОЛЖНО БЫТЬ ЧЕСТНО!</h2></span></center>
        </p>
      </blockquote>
    </div>
  </div>
</section>
{% endblock %}



