{% extends 'base.html' %}

<!-- {% load static %} -->
<!-- <title>{% block title %}Контакты{% endblock %}</title> -->

{% block content %}
    <section class="skrollable u-clearfix u-image u-parallax u-shading lazyload u-section-1" id="sec-1f64"
      data-image-width="1798" data-image-height="1200"
      data-bg="url(&quot;{% static 'images/krasnodar-gorod-rossiia-reka-kuban-nebo-leto-doma-zdaniia-ne.jpg' %}&quot;)">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-center u-text u-text-default u-text-1" style = "margin-top: 0px;">ООО "ИРНИС"</h2>
            <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
            <p class="u-align-center u-text u-text-body-alt-color u-text-2">ИНН 2311341448<br>КПП 231101001<br>ОГРН
              1222300060400<br>р/с: 4070 2810 7260 0003 7116<br>к/с: 3010 1810 9000 0000 0556<br>БИК: 040349556<br>Банк: Южный филиал АО "РАЙФАЙЗЕНБАНК"<br>
              <br>Юридический адрес:<br>350900, Краснодарский край, г. Краснодар, ул им. Соколова М.Е.,
              д. 86, к. 2<br>&nbsp;
            </p>
            <p class="u-align-center u-text u-text-white u-text-3"><span class="u-file-icon u-icon u-icon-1"><img
                  src="{% static 'images/4387851.png' %}" alt=""></span>&nbsp;souz.cm@mail.ru
            </p>
            <p class="u-align-center u-text u-text-white u-text-5"><span class="u-file-icon u-icon u-icon-2"><img src="{% static 'images/5415889.png' %}" alt=""></span>&nbsp;+7 (918) 317-76-62&nbsp; &nbsp; Краснодар: Анна
            </p>
            <p class="u-align-center u-text u-text-white u-text-5"><span class="u-file-icon u-icon u-icon-3"><img src="{% static 'images/5415889.png' %}" alt=""></span>&nbsp;​+7 (996) 056-38-53&nbsp; &nbsp; Красноярск: Мария
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}