{% extends 'base.html' %}


<!-- {% load static %} -->
{% block content %}
<body class="u-body u-image u-xl-mode" data-lang="ru" style="background-attachment: scroll;">
  <section class="skrollable u-align-left u-clearfix u-image u-parallax u-shading lazyload u-section-1" src=""
    data-image-width="1300" data-image-height="731" id="sec-db4e"
    data-bg="url(&quot;{% static 'images/balikesir-kombi-serv.jpg' %}&quot;)">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-default u-title u-text-1">СОЮЗ ЧЕСТНЫХ МАСТЕРОВ</h1>
      <h2 class="u-align-center u-text u-text-2">Честные условия. Честные цены.</h2>
      <p class="u-align-center u-large-text u-text u-text-variant u-text-3">Позвольте нам изменить Ваше отношение к
        ремонту техники</p>
      <a href="https://t.me/IrnisBot"
        class="u-align-center u-btn u-btn-round u-button-style u-custom-color-2 u-hover-feature u-radius-36 u-btn-1">Вызвать
        мастера</a>
      <p class="u-text u-text-default u-text-white u-text-4"><span class="u-file-icon u-icon u-icon-1"><img
            src="{% static 'images/7222542.png' %}" alt=""></span>&nbsp;Пн - Вс: 09:00 - 22:00
      </p>
    </div>
  </section>

  <section class="skrollable u-align-center u-clearfix u-gradient u-section-2" id="sec-25e9">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
      <div class="u-align-left u-clearfix u-group-elements u-group-elements-1">
        <div class="u-border-5 u-border-custom-color-2 u-shape u-shape-right u-shape-top u-shape-1"></div>
        <div class="u-border-5 u-border-custom-color-2 u-shape u-shape-bottom u-shape-left u-shape-2"></div>
      </div>
      <h3 class="u-text u-text-default u-text-1">Что мы ремонтируем:</h3>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-1"><img src="{% static 'images/9452153-39d1665e.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-2">Стиральные и сушильные машины</h3>
            </div>
          </div>
          <div
            class="u-align-center u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-2"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-2"><img src="{% static 'images/3927197-a8fdf960.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-3">Посудомоечные машины</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-3"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-3"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-3"><img src="{% static 'images/161967-1331a0d7.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-4">Холодильники и морозильные камеры</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-4"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-4"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-4"><img src="{% static 'images/6302279-7941c783.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-5">Варочные поверхности</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-5"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-5"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-5"><img src="{% static 'images/1252084-ea4c52ee.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-6">Духовые шкафы, электроплиты</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-6"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-6"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-6"><img src="{% static 'images/66596-157e17d8.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-7">Кофемашины, кофеварки</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-7"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-7"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-7"><img src="{% static 'images/3487132-f68c3e65.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-8">ПК - компьютеры и ноутбуки</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-8"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""
            data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-8"><span
                class="u-file-icon u-icon u-text-custom-color-2 u-icon-8"><img src="{% static 'images/5882884-cfaee6b0.png' %}"
                  alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-9">Бойлеры, водонагреватели, кулеры</h3>
            </div>
          </div>
        </div>
      </div>
      <a href="https://t.me/IrnisBot"
        class="u-align-center u-btn u-btn-round u-button-style u-custom-color-2 u-hover-feature u-radius-36 u-btn-1">Вызвать
        мастера</a>
    </div>
  </section>

  <section class="skrollable u-clearfix u-image u-parallax lazyload u-section-3" id="sec-7e36" data-image-width="6000"
    data-image-height="4500" data-bg="url(&quot;{% static 'images/Sarahs-2.jpg' %}&quot;)">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </section>
  <section class="u-align-center u-clearfix u-gradient u-section-4" id="sec-79a1">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
      <h3 class="u-text u-text-default u-text-1">
        <span style="font-weight: 700;">Наши услуги</span>:
      </h3>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span
                class="u-align-center u-file-icon u-icon u-text-custom-color-2 u-icon-1"><img
                  src="{% static 'images/535573-95439c6c.png' %}" alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-2">Ремонт бытовых приборов</h3>
            </div>
          </div>
          <div
            class="u-align-center u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-2"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span
                class="u-align-center u-file-icon u-icon u-text-custom-color-2 u-icon-2"><img
                  src="{% static 'images/2214221-cd5b2899.png' %}" alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-3">Установка техники</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-3"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-3"><span
                class="u-align-center u-file-icon u-icon u-text-custom-color-2 u-icon-3"><img
                  src="{% static 'images/3093016-46fa9d85.png' %}" alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-4">Точная диагностика</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-4"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-4"><span
                class="u-align-center u-file-icon u-icon u-text-custom-color-2 u-icon-4"><img
                  src="{% static 'images/9837534-982bb31f.png' %}" alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-5">Профессиональные мастера</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-5"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-5"><span
                class="u-align-center u-file-icon u-icon u-text-custom-color-2 u-icon-5"><img
                  src="{% static 'images/711982-ec3c7ad4.png' %}" alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-6">Гарантия на работы и запчасти</h3>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-6"
            data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-6"><span
                class="u-align-center u-file-icon u-icon u-text-custom-color-2 u-icon-6"><img
                  src="{% static 'images/3280418-050b5a82.png' %}" alt=""></span>
              <h3 class="u-align-center u-text u-text-default u-text-7">Бесплатная утилизация старой техники</h3>
            </div>
          </div>
        </div>
      </div>
      <a href="https://t.me/IrnisBot"
        class="u-align-center u-btn u-btn-round u-button-style u-custom-color-2 u-hover-feature u-radius-36 u-btn-1">Вызвать
        мастера</a>
    </div>
  </section>
</body>
  {% endblock %}
  
  